<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leg-day</title>
    <link rel="stylesheet" href="leg.css">
</head>
<body>


    <h3>What to do?</h3>
    <br>
    <br>
    <li>Squats</li>
    <li>Leg Press</li>
    <li>Calf Raises</li>
    <li>Leg Curls</li>
    <li>Leg Extensions</li>
    <li>Leg Raises</li>
    <li>Leg Tucks</li>
    <li>Leg Lifts</li>
    
    
</body>
</html>