<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="welcome.css">
    <title>Welcome_page</title>
</head>
<body>
    <div id="main-welcome">
        <h1> <span>Welcome</span> back!!</h1>
    </div>
    <h2 class="heading">Time to work out💪</h2>

    <div id="exercise">
        <a href="/legs"><img src="images/leg.jpg" alt="legs-day"></a>
         <img src="images/back.jpg" alt="back-day"> 
        <img src="images/chest.jpg" alt="chest-day">
        <img src="images/shoulder.jpg" alt="shoulder-day">
        <img src="images/biceps.jpg" alt="biceps-day">
        <img src="images/triceps.jpg" alt="triceps-day"> 
    </div>
    
    
</body>
</html>