* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}


html,body{
    height:100%;
    width:100%;
}

#main{
    background-color: #000;
    width:100%;
    height:100%;
}

img{
    height: 120px;
    width: 400px;
    padding-top: 20px;
}

#nav{
    /* background-color: red; */
    width: 100%;
    display:flex;
    align-items: center;
    gap:400px;
    height:100px;
    padding:0 30px;
    
    
}
#nav-2{
    display:flex;
    align-items: center;
    gap:30px;
    
}
h3{
    color:white;
}
#nav-3{
    display:flex;
    align-items: center;
    gap:50px;
}
#btn{
    font-size:14px;
    border:2px solid black;
    padding:5px 15px;
    /* border:none; */
    font-weight:800;
    height:50px;
    width:100px;
    color:red;
}
h1{
    color:white;
    
    text-align: center;
}
#top-text{
    margin-top: 100px;
}
span{
    color:red;
    font-size:100px;
}
#img-1{
    position:absolute;
    height: 250px;
    width: 250px;
    top:200px;
}
#img-2{
    position:absolute;
    height: 540px;
    width: 450px;
    bottom:50px;
    right:200px;
}
h2{
    color:white;
    position: absolute;
    text-align: center;
    bottom:100px;
    left:700px;
    opacity: 0;
}

.nav-link{
    color: white;
    text-decoration: none;
}

#main_page_text{
    position: absolute;
    z-index:3;
    right: 900px;
}